- content_for :container_css_class, 'is-fluid'
- content_for :navbar_links do
  = render 'navbar_links'
- if @question&.response_allowed?
  - content_for :main_css_class, 'question--active'
- if @suggest_creating_new_lesson
  = render 'create_lesson'
.panel
  .panel-heading
    - if @question&.response_allowed?
      = render 'question_stop'
    - else
      = render 'question_start'
= render 'lesson_executions_seating_plans/seating_plan', school_class: @school_class, seating_plan: @seating_plan, edit: @edit
